.bureau__slider {
    /* position: relative; */
    max-width: 1920px;
    margin-top: 20px;
}

.bureau__text {
    color: black;
    font-size: 17px;
    font-weight: 500;
    
}

@media (max-width : 1240px) {
    .bureau__slider {
        max-width: 270px;
        margin: auto;
        
    } 
  }